/* [ Optional CSS ] 
========================================================> */
:root {
  --main-color: #e51d20; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a:hover {
  text-decoration: none; }

li {
  list-style: none;
  display: inline-block;
  margin-right: 10px; }
  li:last-child {
    margin-right: 0; }

.flex-center-between, .hot-news-item a .hot-detail .hots-time, .banner-detail .banner-time, .container-news .news-item .news-detail .news-time {
  display: flex;
  justify-content: space-between;
  align-items: center; }

h2.titleHeader {
  position: relative; }
  h2.titleHeader::before {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 0;
    width: 60px;
    height: 2px;
    background-color: var(--main-color); }

/* [ HEADER section ] 
========================================================> */
/* top menu */
.top-menu {
  width: 100%;
  padding: 7px 14px;
  background: var(--main-color); }
  .top-menu a {
    color: #fff; }

/* hot news */
.owl-carousel .owl-item img {
  width: 80px;
  height: 100%;
  margin-right: 7px; }

.hot-news-item a {
  width: 100%;
  height: 105px;
  display: flex;
  padding: 7px;
  color: #000; }
  .hot-news-item a .hot-detail {
    width: 100%;
    height: 100%; }
    .hot-news-item a .hot-detail h4 {
      width: 100%;
      height: 75%;
      font-size: 14px; }
    .hot-news-item a .hot-detail .hots-time {
      height: 18%;
      width: 100%;
      color: #696969; }

/* navbar */
nav {
  width: 100%;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 100000; }

.container-header {
  height: 80px;
  line-height: 80px;
  width: 100%; }
  .container-header img {
    width: 100%; }

@media (max-width: 991.5px) {
  .container-header {
    height: auto; }

  .search-container {
    margin-bottom: 15px; } }
.search-container {
  width: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%); }
  .search-container input {
    height: 44px; }
  .search-container i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    cursor: pointer;
    font-size: 20px;
    color: #ddd;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%); }

.form-control:focus {
  box-shadow: none;
  border: 1px solid var(--main-color); }

.social-links {
  float: right;
  margin-top: 20px; }
  .social-links ul {
    display: flex; }
    .social-links ul li {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid var(--main-color);
      text-align: center;
      line-height: 40px;
      font-size: 23px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      transition: 0.3s;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s; }
      .social-links ul li a {
        color: var(--main-color); }
      .social-links ul li:hover.facebook {
        background: #3b5998;
        border: 1px solid #3b5998; }
      .social-links ul li:hover.instagram {
        background: #c13584;
        border: 1px solid #c13584; }
      .social-links ul li:hover.youtube {
        background: #ff0000;
        border: 1px solid #ff0000; }
      .social-links ul li:hover.linkedin {
        background: #2867b2;
        border: 1px solid #2867b2; }
      .social-links ul li:hover a {
        color: #fff; }

/* menu */
.menu-container {
  height: 50px;
  padding: 0 7px; }
  .menu-container li {
    line-height: 50px;
    float: left; }
    .menu-container li a {
      color: #000;
      font-size: 18px;
      position: relative; }
      .menu-container li a:hover {
        color: var(--main-color); }
      .menu-container li a::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -5px;
        transform: translateX(-50%) scaleX(0);
        -webkit-transform: translateX(-50%) scaleX(0);
        -moz-transform: translateX(-50%) scaleX(0);
        -ms-transform: translateX(-50%) scaleX(0);
        -o-transform: translateX(-50%) scaleX(0);
        transform-origin: 50% 50%;
        -webkit-transform-origin: 50% 50%;
        -moz-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        width: 100%;
        height: 2px;
        background-color: var(--main-color);
        transition: transform 250ms;
        -webkit-transition: transform 250ms;
        -moz-transition: transform 250ms;
        -ms-transition: transform 250ms;
        -o-transition: transform 250ms; }
      .menu-container li a:hover::after {
        transform: translateX(-50%) scaleX(1);
        -webkit-transform: translateX(-50%) scaleX(1);
        -moz-transform: translateX(-50%) scaleX(1);
        -ms-transform: translateX(-50%) scaleX(1);
        -o-transform: translateX(-50%) scaleX(1); }

/* [ HOME section ] 
========================================================> */
/* advertisement */
.image-cover {
  background-repeat: no-repeat !important;
  background-size: cover !important; }

.banner-detail {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #fff;
  width: 100%; }
  .banner-detail p {
    font-size: 23px; }
  .banner-detail .banner-time {
    width: 200px;
    color: #fff; }

/* news */
.container-news {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(272px, 1fr));
  grid-gap: 11px;
  padding: 10px; }
  .container-news .news-item {
    width: 100%;
    height: 400px;
    color: #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background: #fff;
    margin-bottom: 10px; }
    .container-news .news-item img {
      width: 100%;
      height: 60%; }
    .container-news .news-item .news-detail {
      width: 100%;
      height: 40%;
      padding: 10px; }
      .container-news .news-item .news-detail h4 {
        width: 100%;
        height: 80%;
        font-size: 18.5px; }
      .container-news .news-item .news-detail .news-time {
        width: 100%;
        color: #696969;
        height: 18%; }

/* [ NEWS DETAIL section ] 
========================================================> */
.right-adds {
  width: 100%; }
  .right-adds img {
    width: 100%; }

.card-container {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  background-color: #fdfdfd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }
  .card-container h1 {
    font-size: 31px; }

.list-news-header {
  width: 100%;
  height: 50px;
  background: var(--main-color);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #fff;
  font-weight: bold; }

.container-list-news {
  width: 100%; }
  .container-list-news li {
    margin: 5px 10px 0 10px;
    padding-bottom: 5px;
    border-bottom: 1.5px solid #eee; }
    .container-list-news li:last-child {
      border-bottom: none; }
    .container-list-news li a {
      color: #000; }
      .container-list-news li a:hover {
        color: var(--main-color);
        text-decoration: underline; }

/* [ ADVERTISEMENT section ] 
========================================================> */
.advertisement-item {
  border: 1px solid #eee;
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }
  .advertisement-item a {
    color: #6c757d; }
    .advertisement-item a:hover {
      color: var(--main-color); }

/* [ FOOTER section ] 
========================================================> */
footer a {
  color: #696969; }
  footer a:hover {
    text-decoration: underline;
    color: #696969; }

/*# sourceMappingURL=style.css.map */
